html, body{
    background-image: url(../media/background2.png);
    font-family:Verdana, Geneva, Tahoma, sans-serif; /* this is how to do a CSS comment, this line is for font */
    font-size:15px;
    text-align: center;
    word-spacing: 5%;
    letter-spacing: .2em; /* em is current fontsize, 1em=current size, unit of measurement */
    line-height:2                                                                                                 em;
}
h1{ /* line 1 */
    background-color: aliceblue;
}
h2{ /* line 2 */
    background-color: aliceblue;
}
p{ /* this is for the explanatory paragraph */
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    padding: 15px;
}

#processing{ /* this references the processing section in index.html only */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    padding: 10px;
    border: 10px dashed rgb(21, 49, 150);

    
}

#image{ /* this surrounds all images in the image divider, including the dividers below, not including #video.
    this is because both images' <div> function are included under the image divider in the HTML c */ 
    font-size: 25px;
    padding: 10%;
    border: 8px solid rgb(255, 140, 0);
    margin: 10px;
    background-color: rgba(255, 165, 56, 0.899);
    h3{
        background-color: aliceblue;
    }
}
    #image1 img{ /* this only references the red image */
    padding: 0px;
    border: 4px solid;
}
    #image2 img{
        padding-left: 55px;
        padding-right: 55px;
        background-color: red;
        border: 4px solid;
    }
#video{
    h3{
        background-color: aliceblue;
    }
    h6{
        background-color: aliceblue;
    }
    font-size: 25px;
    border: 8px solid rgb(23, 40, 151);
    padding: 10%;
    margin: 10px;
    background-color: rgba(58, 76, 194, 0.899);
}
